<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Tabular Data Curator (TDC)</title>
</head>

<body style="background-color:#19232d;">
<div align="center">
   <!-- <img src="{{ url_for('static', filename='images/EUCAIM.jpg') }}" width="500" height="310"> -->
   <h1 style="color:white;font-family:Calibri;text-align:center">Welcome to the Tabular Data Curator (TDC)</h1>
   <h3 style="color:white;font-family:Calibri;text-align:center">Select your dataset (.csv/.json/.xlsx)</h3>
   <form method="post" enctype="multipart/form-data">
       <input type="file" name="file" style="color:white;">
	<br>
	<br><h3 style="color:white;font-family:Calibri;text-align:center">Select a method for outlier detection</h3>
		<select id="outlier_detection_method_id" name="outlier_detection_method_id">
		<option value="1">z-score</option>
		<option value="2">z-score (mod.)</option>
		<option value="3">Interquartile range (IQR)</option>
		<option value="4">Grubb's test</option>
		<option value="5">Local Outlier Factor (LOF)</option>
		<option value="6">Isolation Forests</option>
		<option value="7">Isolation Forests (mod.)</option>
		</select>
	</br>

 	<br><h3 style="color:white;font-family:Calibri;text-align:center">Select a method for similarity detection</h3>
		<select id="sim_method_id" name="sim_method_id">
		<option value="1">Spearman rank-order correlation coefficient</option>
		<option value="2">Pearson's correlation coefficient</option>
		<option value="3">Kendall's tau</option>
		<option value="4">Covariance</option>
		<option value="5">None</option>
		</select>
	</br>
	
 	<br><h3 style="color:white;font-family:Calibri;text-align:center">Select a method for data imputation</h3>
		<select id="imputation_method_id" name="imputation_method_id">
		<option value="1">Average/Most frequent</option>
		<option value="2">Random</option>
		<option value="3">Zeros</option>
		<option value="4">None</option>
		</select>	
	</br>
	
	<br>
	<input type="submit" value="Apply" style="margin-bottom: 50px;">
	<br>
	</form>

    {% if success %}
    <p style="color: rgb(13, 195, 25);font-family: Calibri">{{ message }}</p>
    {% elif message %}
    <p style="color: red;font-family: Calibri">{{ message }}</p>
    {% endif %}

    <!-- <div style="display: flex; justify-content: center; align-items: center; font-family: Calibri;">
        <p style="color: rgba(255, 255, 255, 0.79); margin-right: 10px;">Developed by</p>
        <img src="{{ url_for('static', filename='images/MEDLAB.png') }}" width="70" height="80">
    </div> -->

	<div style="display: flex; justify-content: center; align-items: center; font-family: Calibri; gap: 15px;">
		<p style="color: rgba(255, 255, 255, 0.79); margin: 0;">Developed by</p>
		<img src="{{ url_for('static', filename='images/MEDLAB.png') }}" width="60" height="80" alt="MEDLAB logo">
		<img src="{{ url_for('static', filename='images/precious-logo.jpg') }}" width="70" height="80" alt="PRECIOUS logo">
	</div>

</div>
</body>
</html>